body {
    min-height: 100vh;
    display:grid;
    justify-items: center;
    place-content:center;
    margin: 0;
}

#contenedor {
    width: 80%;
    margin: auto;
    padding: 20px;
}

#texto {
    width: 100%;
    font-size: 16px;
}

#btnEnviar {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#entrada {
    width: 40vw;
    height: 20vh;
    margin-bottom:20px
}

#resultados {
    margin-top: 30px;
}

#graficas{
}
